.footer {
    position: sticky;
    bottom: 0;
}

.nav {
    background: #333;
    border-top: 2px solid #2271D1;
    padding: 10px;
}

.ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
}

.active {
    font-weight: bold;
    color: #2271D1;
    border: 2px solid #2271D1;
    border-radius: 50px;
    display: flex;
    gap: 10px;
}

.icon {
    width: 30px;
    height: 30px;
}

.logo {
    display: none;
}



@media only screen and (min-width: 600px) {
    /* For tablets: */

    .footer {
        position: static;
        background-color: black;
        border-top: 2px solid #2271D1;
    }

    .nav {
        display: none;
    }

    .logo {
        display: block;
        width: 100px;
        padding: 20px;
        margin: 0 auto;
    }

}